<div class="uk-width-1-1 uk-container">
<button class="uk-button uk-button-primary uk-align-right uk-margin-large-right" type="button" uk-toggle="target: #modal-buy-security">
	Buy
</button>

<div id="modal-buy-security" uk-modal ng-controller="buyController">
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <form>
        	<legend class="uk-legend uk-text-center">Buy Security</legend>

	        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Order Number" ng-model="orderNumber">
	        </div>

	        <div class="uk-margin">
	          <input class="uk-input" type="text" placeholder="Security Code" ng-model="securityCode">
	          <select>
	          	<option ng-repeat="x in securities" value="{{x.securityCode}}">{{x.companyName}}</option>
	          </select>
	        </div>

	        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Price" ng-model="price">
	        </div>

	        <div class="uk-margin">
	        	<select class="uk-select" ng-model="direction">
            	<option value="Buy">Buy</option>
            	<option value="Sell">Sell</option>
            </select>
	        </div>

	        <div class="uk-margin">
            <input class="uk-input" type="number" placeholder="Quantity" ng-model="quantity">
	        </div>

	        <div class="uk-margin">
            <input class="uk-input" type="text" placeholder="Price Condition" ng-model="priceCondition">
	        </div>
	        <div class="uk-margin">
	        	<p ng-model="message"></p>
	        </div>
	        <div class="uk-margin uk-text-center">
	        	<button class="uk-button uk-button-primary" ng-click="letsBuyIt()">Submit</button>
	        </div>
        </form>

    </div>
</div>
</div>

<div class="uk-container uk-container-medium" ng-controller="ordersController">

	<table class="uk-table uk-table-striped">
			<legend class="uk-legend uk-text-center">Bought</legend>
	    <thead>
	        <tr>
	            <th>S.No.</th>
	            <th>Security Code</th>
	            <th>Quantity</th>
	            <th>Buy Price</th>
	            <th>Market Price</th>
	            <th>Status</th>
	            <th></th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="buy in ordersArray | filter: {direction: 'Buy'}">
	        	<td></td>
	            <td>{{buy.securityCode}}</td>
	            <td>{{buy.quantity}}</td>
	            <td>{{buy.price}}</td>
	            <td>{{buy.priceCondition}}</td>
	            <td>{{buy.orderStatus}}</td>
	            <td ng-if="buy.status != 'Pending'">
	            	<button class="uk-button-primary uk-button">Sell</button>
	            </td>
	        </tr>
	    </tbody>
	</table>
	<div class="uk-padding"></div>

	<table class="uk-table uk-table-striped">
			<legend class="uk-legend uk-text-center">Sold</legend>
	    <thead>
	        <tr>
	            <th>S.No.</th>
	            <th>Stock Name</th>
	            <th>Quantity</th>
	            <th>Buy Price</th>
	            <th>Market Price</th>
	            <th>Status</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="sell in ordersArray | filter: {direction: 'Sell'}">
	        	<td>1</td>
	            <td>{{sell.securityCode}}</td>
	            <td>{{sell.quantity}}</td>
	            <td>{{sell.price}}</td>
	            <td>{{sell.priceCondition}}</td>
	            <td>{{sell.orderStatus}}</td>
	        </tr>
	    </tbody>
	</table>
</div>