<div class="uk-container uk-container-xsmall uk-margin-large-top" ng-controller="loginController">
	<form class="uk-align-center uk-width-1-2">
	    <fieldset class="uk-fieldset">

	        <legend class="uk-legend uk-text-center">Login</legend>

	        <div class="uk-margin">
	            <input class="uk-input" type="text" placeholder="Username" ng-model="email">
	        </div>

	        <div class="uk-margin">
	            <input class="uk-input" type="password" placeholder="Password" ng-model="password">
	        </div>

	        <div class="uk-margin uk-text-center">
	        	<button class="uk-button uk-button-primary" ng-click="authenticate()">Login</button>
	        </div>

	    </fieldset>
	</form>
</div>